html, body {
    font-size: 18px;
    line-height: 1.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    padding: 2rem;    

    ul {
        display: block!important;
        margin: 0;
        padding-left: 1em;
        list-style-type: circle;

        + ul {
          margin-top: 0.5em;
        }

        li::first-letter {
            text-transform: uppercase
        }
    }

    > div {
        max-width: 700px;
        margin: 0 auto;
    }
}

h4 {
    margin: 0;
}