.history {
    background-color: #EBF5E6 !important;
    border-radius: .5rem;
    padding: 2rem;
    margin-top: 1.5em;

    h4 {
        margin-bottom: 10px;
    }

    table {
        width: calc(100% + 4rem);
        margin-left: -2rem;
        border-spacing: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.8rem;

        thead {
            th {
                font-weight: 700;
                border-bottom: 1px solid #cddfc4;
            }
        }

        tbody tr:first-child td {
            transition: all 0.3s;
            background-color: #dce9d6;          
        }

        td, th {
            text-align: left;

            &.alignRight {
                text-align: right;
            }

            &:first-child {
                padding-left: 2rem;
            }
            &:last-child {
                padding-right: 2rem;
            }      
            &:nth-child(5) {
                width: 20px;
                text-align: center;
            }   
        }
    }    

    td.dot {
        position: relative;

        &::after{
            content: "";
            position: absolute;
            top: calc(50% - 2px);
            left: calc(50% - 3  px);
            height: 6px;
            width: 6px;
            background-color: #464d42;
            border-radius: 50%;
        }
    }
}